.nav-cont {
    color: white;
}

.nav-top {
    align-items: center;
    display: flex;
    height: 10vh;
    justify-content: space-between;
    padding: 2vh 2vw;
    position: fixed;
    width: 92vw;
    z-index: 40;
}

.logo {
    aspect-ratio: 757 / 460;
    height: 8.8vh;
}

.logo img {
    height: 100%;
    width: 100%;
}

.nav-links {
    align-items: center;
    display: flex;
    font-family: "Hanken Grotesk", sans-serif;
    gap: 7vw;
}

.nav-links__span {
    font-size: 0.9vw;
    font-weight: 400;
}

.nav-menu {
    background-color: #000000;
    height: 100%;
    opacity: 0;
    position: fixed;
    width: 100%;
    z-index: -1;
}

.menu-close {
    align-items: center;
    color: white;
    display: flex;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 0.9vw;
    height: 10vh;
    opacity: 0;
    position: fixed;
    right: 10vw;
}

.menu {
    align-items: start;
    display: flex;
    flex-direction: column;
    font-weight: 700;
}

.menu-link {
    font-family: "Poppins", sans-serif;
    font-size: 3vw;
    font-weight: 400;
    height: 8vh;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
}

.menu-link-inner {
    color: #ffffff;
}

@media screen and (max-width: 992px) {
    .nav-top {
        font-weight: 300;
        padding: 1vh 5vw 1vh 5vw;
        width: 100vw;
    }

    .menu-close {
        font-size: 2vh;
        height: 10vh;
        right: 5vw;
    }

    .logo {
        aspect-ratio: 757 / 460;
        height: 7.8vh;
    }

    .logo img {
        height: 100%;
        width: 100%;
    }

    .nav-links__span {
        font-size: 2vh;
        font-weight: 400;
    }

    .nav-menu {
        background-color: #000000;
        height: 100%;
        opacity: 0;
        position: fixed;
        width: 100%;
        z-index: -1;
    }

    .menu {
        align-items: start;
        display: flex;
        flex-direction: column;
    }

    .menu-link {
        font-size: 3vw;
        font-weight: 300;
        height: 8vh;
        overflow: hidden;
        position: relative;
    }

    .menu-link-inner {
        color: #ffffff;
    }
}