.cursor {
    position: fixed;
    top: 50vh;
    left: 50vw;
    z-index: 9999;
    height: 0.35vw;
    width: 0.35vw;
    border-radius: 50%;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    mix-blend-mode: exclusion;

}

.cursor-text {
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    mix-blend-mode: exclusion;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: normal;
}

.cursor img {
    height: 50%;
    width: 50%;
    color: black;
}



@media screen and (max-width: 800px) {
    .cursor {
        display: none;
    }
}